/* TYPE TO COMPILE : sass --watch src/css/main.scss:src/css/main.css */

/* VARIABLES */

$greenButton: #39c339;
$greenButtonDarker: #0aa60a;
$redButton: #e35c5c;
$redButtonDarker: #dd2626;
$blueButton: #7070f4;
$blueButtonDarker: #4d4dd5;
$yellowButton: #f0f05e;
$yellowButtonDarker: #e6e612;
/* COLOR SHAPES */

svg path {
    cursor: pointer;
}

#greenButton {
    /* Hover stands as a color variant when button is clicked */
    fill: $greenButton;
    &:hover {
        fill: $greenButtonDarker;
    }
}

#redButton {
    fill: $redButton;
    &:hover {
        fill: $redButtonDarker;
    }
}

#blueButton {
    fill: $blueButton;
    &:hover {
        fill: $blueButtonDarker;
    }
}

#yellowButton {
    fill: $yellowButton;
    &:hover {
        fill: $yellowButtonDarker;
    }
}

/* BUTTON BOARD */ // This is nested too much, I should separate things later on
#buttonBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
        text-transform: uppercase;
    }
    .button-section {
        display: flex;
        align-items: center;
        &>div {
            margin: 0.5rem;
            label {
                display: block;
            }
            .button-rounded {
                border-radius: 50%;
                height: 20px;
                width: 20px;
                border-style: outset;
                outline: none;
                &:active {
                    border-style: inset;
                }
            }
            #start-button {
                background: green;
                border-color: green;
            }
            #strict-button {
                background: red;
                border-color: red;
            }
            /* TOGGLE SWITCH */
            .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 25px;
            }
            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }
            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 0;
                bottom: 0;
                border: solid 2.5px #3C3C3C;
                background-color: white;
            }
            input:checked+.slider:before {
                transform: translateX(25px);
            }
        }
    }
    /* COUNTER */ // Counter should indicate if the game is ON or OFF
}

/* CUSTOM CLASSES */

h1 {
    margin: 0;
}