/* TYPE TO COMPILE : sass --watch src/css/main.scss:src/css/main.css */

/* VARIABLES */

$greenButton: #39c339;
$greenButtonDarker: #0aa60a;
$redButton: #e35c5c;
$redButtonDarker: #dd2626;
$blueButton: #7070f4;
$blueButtonDarker: #4d4dd5;
$yellowButton: #f0f05e;
$yellowButtonDarker: #e6e612;
$counterPink: #d45252;
/* FONTS */

@font-face {
    font-family: calculatorFont;
    src: url(../../fonts/calculatorFont/digital-7.ttf);
    font-display: swap;
}

/* COLOR SHAPES */

svg #greenButton,
svg #redButton,
svg #blueButton,
svg #yellowButton {
    cursor: pointer;
}

#greenButton {
    /* Should use a mixin for the big buttons */
    /* Hover stands as a color variant when button is clicked */
    fill: $greenButton;
    &:hover {
        fill: $greenButtonDarker;
    }
    &:active {
        stroke: green;
        stroke-width: 3;
    }
}

#greenButton.highlighted {
    fill: $greenButtonDarker;
}

#greenButton.disabled {
    pointer-events: none;
}

#redButton {
    fill: $redButton;
    &:hover {
        fill: $redButtonDarker;
    }
    &:active {
        stroke: red;
        stroke-width: 3;
    }
}

#redButton.highlighted {
    fill: $redButtonDarker;
}

#redButton.disabled {
    pointer-events: none;
}

#blueButton {
    fill: $blueButton;
    &:hover {
        fill: $blueButtonDarker;
    }
    &:active {
        stroke: blue;
        stroke-width: 3;
    }
}

#blueButton.highlighted {
    fill: $blueButtonDarker;
}
#blueButton.disabled {
    pointer-events: none;
}

#yellowButton {
    fill: $yellowButton;
    &:hover {
        fill: $yellowButtonDarker;
    }
    &:active {
        stroke: yellow;
        stroke-width: 3;
    }
}

#yellowButton.highlighted {
    fill: $yellowButtonDarker;
}
#yellowButton.disabled {
    pointer-events: none;
}

/* BUTTON BOARD */ // This is nested too much, I should separate things later on
#buttonBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    h1 {
        font-family: 'Montserrat', sans-serif;
    }
    .button-section {
        display: flex;
        align-items: center;
        &>div {
            margin: 0.5rem;
            label {
                display: block;
            }
            .button-rounded {
                border-radius: 50%;
                height: 20px;
                width: 20px;
                border-style: outset;
                outline: none;
                &:active {
                    border-style: inset;
                }
            }
            #startButton {
                background: green;
                border-color: green;
            }
            #strictButton {
                background: red;
                border-color: red;
            }
            /* TOGGLE SWITCH */
            .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 25px;
            }
            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }
            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 0;
                bottom: 0;
                border: solid 2.5px #3C3C3C;
                background-color: white;
            }
            input:checked+.slider:before {
                transform: translateX(25px);
            }
            .slider:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translate(-150%, -50%);
                background: radial-gradient(#5b5656, #ebe7e7);
                pointer-events: none;
            }
            input:checked+.slider:after {
                background: radial-gradient(#d45e0f, orange);
            }
        }
    }
    /* COUNTER */ // Counter should indicate if the game is ON or OFF
    .counter-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.25rem;
    }
    .counter-section>span {
        font-family: calculatorFont;
        display: inline-block;
        font-size: 1.5rem;
        background: #3e2323;
        color: $counterPink;
        margin-left: 0.25rem;
        border: solid 1px black;
        min-width: 75px;
        max-width: 75px;
        min-height: 25px;
        &>small {
            font-size: 1rem;
            float: left;
            visibility: hidden;
        }
    }
}

/* SMALL SCREENS HACK */

@media (max-width: 650px) {
    #buttonBoard {
        left: 325px;
    }
}

/* CUSTOM CLASSES */

h1 {
    margin: 0;
}